// Page dimensions
$page-padding-x: 5.5rem;
$page-padding-y: 1.5rem;

// Theme
$theme-primary-text-color: white;
$theme-secondary-text-color: black;
$theme-primary-color: #660500;
$theme-secondary-color: orange;
$theme-accent-color: yellow;

// Fonts
$base-font-size: 16px;

// Screen sizes
$big-width: 1100px;
$medium-width: 970px;
$small-width: 780px;
$very-small-width: 360px;

// Page colors
$page-background-color: black;

// Images
$poster-aspect-ratio: 750 / 500;
