// Page dimensions
$page-padding-x: 5.5rem;
$page-padding-y: 1.5rem;

// Theme
$theme-primary-text-color: white;
$theme-secondary-color: orange;

// Page colors
$page-background-color: black;
$edge-background-color: #660500;

// Screen sizes
$big-width: 1100px;
$medium-width: 970px;
$small-width: 736px;
