@use 'Header';
@use 'consts' as *;

.app {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	overflow: auto;
	background-color: $page-background-color;
	color: $theme-primary-text-color;
}

.header-placeholder {
	background-color: $page-background-color;
	min-height: Header.$height;
	width: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: ($page-padding-y + 1) $page-padding-x;
	width: 100%;
	box-sizing: border-box;

	@media (max-width: $small-width) {
		padding: (($page-padding-y / 2) + 1) ($page-padding-x / 3);
	}
}
