@use 'Header';
@use 'Footer';
@use 'consts';

.app {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	background-color: black;
	color: white;
}

.main {
	padding: consts.$page-padding;
	width: 100%;
	min-height: calc(100% - #{Header.$header-height + Footer.$footer-height});
	box-sizing: border-box;
	background-color: red;
}
