@use 'consts' as *;

$link-color: $theme-secondary-color;

.footer {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.85em;
	padding: $page-padding-y $page-padding-x;
	background-color: $theme-primary-color;
}

.footer-text {
	margin: 0.3em;
}

.link {
	text-decoration: none;

	&:link {
		color: $link-color;
	}

	&:visited {
		color: $link-color;
	}

	@media (hover: hover) {
		&:hover {
			color: yellow;
		}
	}
}
