@use 'consts' as *;
@use 'mixins';

.footer {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: $page-padding-y $page-padding-x;
	background-color: $theme-primary-color;
	font-size: $base-font-size;
}

.footer-text {
	margin: 0.3em;
	font-size: 0.8125em;

	@media (max-width: $small-width) {
		font-size: 0.75em;
	}
}

.footer-link {
	@include mixins.link($theme-secondary-color);

	@media (hover: hover) {
		&:hover {
			color: $theme-accent-color;
		}
	}
}
