$link-color: coral;
$footer-height: 98px;

.footer {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-size: 0.85em;
	padding: 12px;
	height: $footer-height;
	background-color: blue;
}

.link {
	text-decoration: none;

	&:link {
		color: $link-color;
	}

	&:visited {
		color: $link-color;
	}
}
