@use 'consts' as *;

$height: 5.68rem;
$icon-size: 20px;
$background-color: $edge-background-color;

.header {
	position: fixed;
	top: 0;
	left: 0;
	height: $height;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: $page-padding-y $page-padding-x;
	background-color: $background-color;
	box-shadow: 0.5px 0.5px 2px black;
	visibility: visible;
	transition: 0.4s;

	&[invisible] {
		visibility: hidden;
		top: -($height);
	}

	@media (max-width: $small-width) {
		padding: ($page-padding-y / 2) ($page-padding-x / 2);
	}
}

.logo {
	display: flex;
	align-items: center;
	color: orange;
	text-decoration: none;
	outline: none;
}

.logo-icon {
	font-size: 2.5em;
	margin-right: 0.2em;
}

.logo-text {
	font-size: 1.4em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: -0.07em;
}
