@use 'consts' as *;

$height: 5.68rem;

.header {
	height: $height;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: $page-padding-y $page-padding-x;
	background-color: blue;

	@media (max-width: $small-width) {
		padding: ($page-padding-y / 2) ($page-padding-x / 2);
	}
}

.logo {
	display: flex;
	align-items: center;
	color: orange;
}

.logo-icon {
	font-size: 2.5em;
	margin-right: 0.2em;
}

.logo-text {
	font-size: 1.4em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: -0.07em;
}
