@use 'consts' as *;
@use 'App';
@use 'Footer';
@use 'Header';
@use 'Loader';
@use 'Main';
@use 'MobileSearchBar';
@use 'MoviesCard';
@use 'MoviesGrid';
@use 'MoviesPage';
@use 'MoviesPaginator';
@use 'MoviesTabs';
@use 'OpacityLayer';
@use 'SearchBar';
@use 'SideNavbar';
@use 'TopNavbar';
@use 'Warning';

:root {
	--page-background: #{radial-gradient(
			darken($theme-primary-color, 12) 25%,
			$page-background-color
		)};

	@media (max-width: $small-width) {
		--page-background: #{radial-gradient(
				darken($theme-primary-color, 10) 50%,
				$page-background-color
			)};
	}
}

html {
	font-size: $base-font-size;

	@media (max-width: $big-width) {
		font-size: 14px;
	}

	@media (max-width: $medium-width) {
		font-size: 12px;
	}
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

body,
html {
	overflow: auto;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 100%;
}
