@use 'consts' as *;
@use 'MoviesTabs';

.loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.loader {
	width: 7.8125rem;
	height: 7.8125rem;
	border-top: 0.25rem solid $theme-secondary-color;
	border-radius: 100%;
	margin-bottom: MoviesTabs.$tab-container-margin-bottom;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
