@use 'consts' as *;

.paginator {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba($theme-primary-color, 0.5);
	border-radius: 4px;
	padding: 0 0.5rem;
	width: 100%;
	font-size: $base-font-size;

	@media (max-width: $small-width) {
		justify-content: space-evenly;
		margin-bottom: 1rem;
	}

	&[invisible] {
		display: none;
	}
}

.paginator-button {
	outline: none;
	background: none;
	border: none;
	color: $theme-primary-text-color;
	margin-left: 0.5rem;
	padding: 1em;
	font-size: 0.9375em;
	cursor: pointer;

	@media (hover: hover) {
		&:not(.paginator-button-disabled):not(.paginator-button-active):hover {
			background-color: rgba(gray, 0.3);
			border-radius: 4px;
		}
	}

	@media (max-width: $small-width) {
		margin: 0;
	}

	@media (max-width: $very-small-width) {
		padding: 1rem;
	}
}

.paginator-button-control {
	@extend .paginator-button;

	&:first-child,
	&:nth-child(2),
	&:last-child {
		margin-left: 0;
	}

	@media (max-width: $small-width) {
		padding-left: 0.75em;
		padding-right: 0.75em;
	}

	@media (max-width: $very-small-width) {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
}

.paginator-button-active {
	color: $theme-secondary-color;
	border: 1px solid $theme-secondary-color;
	border-radius: 4px;
}

.paginator-button-disabled {
	color: gray;
	cursor: default;
}
