@use 'consts' as *;

$tab-border-width: 1px;
$tab-border-radius: 4px;

.tab-container {
	display: inline-flex;
	align-items: center;
	margin-bottom: 70px;
}

.tab {
	position: relative;
	border: 1px solid lighten($color: $page-background-color, $amount: 25);
	border-right: none;
	color: $theme-primary-text-color;
	background-color: transparent;
	padding: 8px 12px;
	transition: 0.1s;
	cursor: pointer;

	&:first-child {
		border-top-left-radius: $tab-border-radius;
		border-bottom-left-radius: $tab-border-radius;
	}

	&:last-child {
		border-right: 1px solid
			lighten($color: $page-background-color, $amount: 25);
		border-top-right-radius: $tab-border-radius;
		border-bottom-right-radius: $tab-border-radius;
	}
}

.tab-selected {
	background-color: #28a745;
}
