@use 'consts' as *;

.paginator {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba($theme-primary-color, 0.5);
	border-radius: 4px;
	padding: 0 0.5rem;
	width: 100%;
	font-size: 16px;
}

.paginator-button {
	outline: none;
	background: none;
	border: none;
	color: $theme-primary-text-color;
	margin-left: 0.5rem;
	padding: 1em;
	font-size: 0.9375em;
	cursor: pointer;
}

.paginator-button-control {
	@extend .paginator-button;
	padding: 1em 0.75em;

	&[first] {
		margin-left: 0;
	}
}

.paginator-button-active {
	color: $theme-secondary-color;
}

.paginator-button-disabled {
	color: gray;
	cursor: default;
}
