@use 'consts' as *;
@use 'mixins';

$tab-border-width: 1px;
$tab-border-radius: 4px;
$tab-border-color: rgba($theme-primary-text-color, 0.25);

.tab-container {
	@include mixins.movies-page-top-component;
	display: inline-flex;
	align-items: center;
	font-size: $base-font-size;

	@media (max-width: $very-small-width) {
		align-self: center;
	}
}

.tab {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: 1px solid $tab-border-color;
	border-right: none;
	color: $theme-primary-text-color;
	background-color: transparent;
	padding: 0.5rem 0.75rem;
	transition: 0.1s;
	cursor: pointer;

	@media (max-width: $small-width) {
		font-size: 0.75em;
	}

	&:first-child {
		border-top-left-radius: $tab-border-radius;
		border-bottom-left-radius: $tab-border-radius;
	}

	&:last-child {
		border-right: 1px solid $tab-border-color;
		border-top-right-radius: $tab-border-radius;
		border-bottom-right-radius: $tab-border-radius;
	}
}

.tab-selected {
	background-color: lighten($theme-primary-color, 12);
	border-right: 1px solid $tab-border-color;

	& + .tab {
		border-left: none;
	}
}
