@use 'consts' as *;

.movies-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2.5rem 1.5rem;
	margin-bottom: 3.3rem;

	@media (max-width: $small-width) {
		margin-left: 3rem;
		margin-right: 3rem;
	}
}
