@use 'consts' as *;
@use 'mixins';

$card-border-radius: 4px;
$card-overview-padding-vertical: 24px;
$card-overview-padding-horizontal: 16px;
$rating-border-size: 30px;

.movies-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: $card-border-radius;
	max-width: 300px;
	justify-self: center;
	background-color: $theme-primary-color;
	transform: translateY(0px);
	transition: transform 0.1s ease-out;

	@media (hover: hover) {
		&:hover {
			transform: translateY(-16px);
		}
	}
}

.movies-card-link {
	@include mixins.reset-link;
}

.movies-card-image-link {
	@include mixins.reset-link;
	position: relative;
	height: 0;
	overflow: hidden;
	padding-top: $poster-aspect-ratio * 100%;
}

.movies-card-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.movies-card-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top-right-radius: $card-border-radius;
	border-top-left-radius: $card-border-radius;
	opacity: 0;

	&[visible] {
		opacity: 1;
	}
}

.movies-card-image-placeholder {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: gray;
	border-top-right-radius: $card-border-radius;
	border-top-left-radius: $card-border-radius;
	font-size: 16px;
	opacity: 0;

	&[visible] {
		opacity: 1;
	}
}

.movies-card-image-placeholder-icon {
	font-size: 5.5em;
}

.movies-card-overview {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: $card-overview-padding-vertical $card-overview-padding-horizontal;
	font-family: Arial, sans-serif;
	z-index: 1;
}

.movies-card-name {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
	word-wrap: break-word;
}

.movies-card-genres {
	font-size: 12px;
	word-wrap: break-word;
}

.movies-card-rating-border {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -($rating-border-size / 2) - 4px;
	right: $card-overview-padding-horizontal;
	width: $rating-border-size;
	height: $rating-border-size;
	border-radius: 100%;
	border: 2px solid $theme-secondary-color;
	background-color: darken($color: $theme-secondary-color, $amount: 35);
}

.movies-card-rating {
	font-size: 14px;
	font-weight: bold;

	@media (max-width: $small-width) {
		font-size: 13px;
	}
}
