@use 'consts' as *;
@use 'Header';

$navbar-width: 250px;
$navbar-width-small: 180px;

.side-navbar-menu-icon {
	font-size: Header.$icon-size;
	cursor: pointer;
}

.side-navbar {
	width: $navbar-width;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -($navbar-width);
	background-color: darken($color: Header.$background-color, $amount: 5);
	visibility: hidden;
	transition: 0.5s;
	z-index: 2;

	@media (max-width: $small-width) {
		width: $navbar-width-small;
		right: -($navbar-width-small);
	}

	&[visible] {
		visibility: visible;
		right: 0;
	}
}

.side-navbar-item {
	padding: 1em 2em;
	text-decoration: none;
	outline: none;
	color: white;
	font-weight: 600;

	@media (hover: hover) {
		&:hover {
			background-color: lighten(
				$color: Header.$background-color,
				$amount: 2
			);
		}
	}
}

.side-navbar-item-selected {
	color: $theme-secondary-color;
}

.side-navbar-close-button {
	margin: 0.7em;
	margin-left: auto;
	margin-right: 2em;
	font-size: 1.6em;
	cursor: pointer;
}
