@use 'consts' as *;
@use 'mixins';

.warning-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: $base-font-size;
}

.warning-icon {
	font-size: 4.8em;
}

.warning-message {
	text-transform: capitalize;
	font-size: 1.125em;
	margin: 28px 0;
	width: 80%;
	text-align: center;
}

.warning-go-back-link {
	@include mixins.link($theme-secondary-color);
	font-size: 1em;

	@media (hover: hover) {
		&:hover {
			color: $theme-accent-color;
		}
	}
}

.warning-go-back-text {
	margin-right: 8px;
}
