.header {
  height: 91px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 1.5em 7.5em;
  background-color: blue;
}

.logo {
  display: flex;
  align-items: center;
  color: orange;
}

.logo-icon {
  font-size: 2.5em;
  margin-right: 0.2em;
}

.logo-text {
  font-size: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.07em;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.85em;
  padding: 12px;
  height: 98px;
  background-color: blue;
}

.link {
  text-decoration: none;
}
.link:link {
  color: coral;
}
.link:visited {
  color: coral;
}

.app {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: black;
  color: white;
}

.main {
  width: 100%;
  min-height: 150px;
  height: calc(100% - 189px);
  box-sizing: border-box;
  background-color: red;
}
