.footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.85em;
  padding: 1.5rem 7.5rem;
  background-color: #660500;
}

.footer-text {
  margin: 0.3em;
}

.link {
  text-decoration: none;
}
.link:link {
  color: orange;
}
.link:visited {
  color: orange;
}
@media (hover: hover) {
  .link:hover {
    color: yellow;
  }
}
