.header {
  height: 5.68rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 1.5rem 7.5rem;
  background-color: blue;
}

.logo {
  display: flex;
  align-items: center;
  color: orange;
}

.logo-icon {
  font-size: 2.5em;
  margin-right: 0.2em;
}

.logo-text {
  font-size: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.07em;
}
