.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5.68rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 1.5rem 7.5rem;
  background-color: #660500;
  box-shadow: 0.5px 0.5px 2px black;
  visibility: visible;
  transition: 0.4s;
}
.header[invisible] {
  visibility: hidden;
  top: -5.68rem;
}
@media (max-width: 736px) {
  .header {
    padding: 0.75rem 3.75rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: orange;
  text-decoration: none;
  outline: none;
}

.logo-icon {
  font-size: 2.5em;
  margin-right: 0.2em;
}

.logo-text {
  font-size: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.07em;
}

.mobile-search-bar {
  margin-left: auto;
  margin-right: 24px;
}
.mobile-search-bar[opened] {
  background-color: #660500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.mobile-search-bar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.mobile-search-bar-icon, .mobile-search-bar-go-back-icon {
  font-size: 20px;
  cursor: pointer;
}

.mobile-search-bar-go-back {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.mobile-search-bar-go-back-icon {
  margin: 0 24px;
}

.mobile-search-bar-search {
  padding: 0 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  align-self: stretch;
  background-color: orange;
  color: black;
  display: flex;
  align-items: center;
  margin-right: 24px;
  cursor: pointer;
}
@media (hover: hover) {
  .mobile-search-bar-search:hover {
    color: white;
  }
}

.mobile-search-bar-search-icon {
  font-size: 20px;
}

.mobile-search-bar-input {
  outline: none;
  border: 2px solid orange;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 6px;
  flex-grow: 1;
}
.mobile-search-bar-input:focus {
  border-color: #ffc457;
}
.mobile-search-bar-input::-ms-clear {
  display: none;
}
