.paginator {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(102, 5, 0, 0.5);
  border-radius: 4px;
  width: 100%;
  padding: 16px 8px;
}

.paginator-button {
  outline: none;
  background: none;
  border: none;
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.paginator-button-active {
  color: orange;
}

.paginator-button-disabled {
  color: gray;
  cursor: default;
}
