.movies-details-overview {
  display: flex;
  background-color: blue;
}

.movies-details-overview-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: darkcyan;
}

.movies-details-overview-facts {
  display: flex;
  background-color: red;
}
