.movies-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  max-width: 300px;
  justify-self: center;
  background-color: #660500;
  transform: translateY(0px);
  transition: transform 0.1s ease-out;
}
@media (hover: hover) {
  .movies-card:hover {
    transform: translateY(-16px);
  }
}

.movies-card-link {
  text-decoration: none;
  color: white;
}

.movies-card-image-link {
  text-decoration: none;
  color: white;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 150%;
}

.movies-card-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movies-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  opacity: 0;
}
.movies-card-image[visible] {
  opacity: 1;
}

.movies-card-image-placeholder {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 16px;
  opacity: 0;
}
.movies-card-image-placeholder[visible] {
  opacity: 1;
}

.movies-card-image-placeholder-icon {
  font-size: 5.5em;
}

.movies-card-overview {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px 16px;
  font-family: Arial, sans-serif;
  z-index: 1;
}

.movies-card-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.movies-card-genres {
  font-size: 12px;
  word-wrap: break-word;
}

.movies-card-rating-border {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -19px;
  right: 16px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid orange;
  background-color: #4d3200;
}

.movies-card-rating {
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 736px) {
  .movies-card-rating {
    font-size: 13px;
  }
}
