.paginator {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 5, 0, 0.5);
  border-radius: 4px;
  padding: 0 0.5rem;
  width: 100%;
  font-size: 16px;
}
@media (max-width: 736px) {
  .paginator {
    justify-content: space-evenly;
  }
}
.paginator[invisible] {
  display: none;
}

.paginator-button, .paginator-button-control {
  outline: none;
  background: none;
  border: none;
  color: white;
  margin-left: 0.5rem;
  padding: 1em;
  font-size: 0.9375em;
  cursor: pointer;
}
@media (max-width: 736px) {
  .paginator-button, .paginator-button-control {
    margin: 0;
  }
}
@media (max-width: 360px) {
  .paginator-button, .paginator-button-control {
    padding: 1rem;
  }
}

.paginator-button-control {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.paginator-button-control[first] {
  margin-left: 0;
}
@media (max-width: 360px) {
  .paginator-button-control {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.paginator-button-active {
  color: orange;
  border: 1px solid orange;
  border-radius: 4px;
}

.paginator-button-disabled {
  color: gray;
  cursor: default;
}
