.search-bar {
  min-width: 15em;
  width: 23%;
  min-height: 2.55em;
  height: 2.55em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5em;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid gray;
  background-color: orange;
  transition: all 0.2s ease-out;
  cursor: text;
}

.search-bar-open {
  background-color: white;
  width: 45%;
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 0.75em;
  background-color: transparent;
  font-size: 0.95em;
  outline: none;
}
.search-input::-ms-clear {
  display: none;
}

.search-icon-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  cursor: default;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-sizing: border-box;
}

.search-icon-open {
  color: white;
}

.search-icon-close {
  color: black;
}
