.top-navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media (max-width: 736px) {
  .top-navbar {
    margin-left: 0;
  }
}

.top-navbar-item {
  margin-left: 20px;
  text-decoration: none;
  outline: none;
  color: white;
  font-weight: 600;
}
