.header {
  display: flex;
  padding: 1.5em 7.5em;
}

.logo {
  display: flex;
  align-items: center;
  color: orange;
}

.logo-icon {
  font-size: 2.5em;
  margin-inline-end: 0.2em;
}

.logo-text {
  font-size: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.07em;
}
